<template>
  <div class="h-100">
    <Navbar />
    <section class="h-100 pt-5 w-100">
      <div class="row center h-100 px-2 px-sm-0">
        <div class="col-sm-8 col-md-7 col-lg-4 mt-5">
          <ErrorAlert :error="error" />
          <div class="bg-white shadow py-5 px-4 w-100 rounded-2">
            <h5 class="text-dark-blue">Login</h5>

            <form action="" class="mt-3" @submit.prevent="submitForm">
              <div class="mb-4">
                <label class="form-label">Email</label>
                <input type="email" class="form-control rounded-3" placeholder="name@example.com" v-model="email"
                  required />
              </div>
              <div class="mb-4">
                <label class="form-label">Password</label>
                <input type="password" class="form-control rounded-3" placeholder="password" v-model="password"
                  required />
              </div>
              <div>
                <button class="btn btn-primary w-100" :disabled="loading">
                  Login
                  <Spinner v-if="loading" />
                </button>
              </div>
              <div class="mt-5 text-center">
                Don't have an account?
                <router-link :to="{ name: 'signup' }" :disabled="loading">Signup</router-link>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import ErrorAlert from "@/components/common/ErrorAlert.vue";
import { getNextRoute } from "@/functions";
import Spinner from "@/components/common/Spinner.vue";

export default {
  name: "Login",
  data() {
    return {
      email: "",
      password: "",
      error: "",
      loading: false,
    };
  },
  methods: {
    ...mapActions(["login"]),
    async submitForm() {
      this.error = "";
      this.loading = true;
      try {
        await this.login({ email: this.email, password: this.password });
        this.$router.push(getNextRoute(this.$route.query, "dashboard"));
      } catch (error) {
        this.error = "Invalid Credentials";
      } finally {
        this.loading = false;
      }
    },
  },
  components: { ErrorAlert, Spinner },
};
</script>