<template>
  <div class="h-100">
    <Navbar />
    <section class="min-h-100 pt-5 w-100 pb-5">
      <div class="row center h-100 px-2 px-sm-0">
        <div class="col-sm-8 col-md-7 col-lg-4 mt-5">
          <ErrorAlert :error="error" />
          <div class="bg-white shadow py-5 px-4 w-100 rounded-2">
            <h5 class="text-dark-blue">Signup</h5>

            <form action="" class="mt-3" @submit.prevent="signupUser">
              <div class="mb-4">
                <label class="form-label">Name</label>
                <input type="text" class="form-control rounded-3" placeholder="John Doe" required
                  v-model="signupData.name" />
              </div>
              <div class="mb-4">
                <label class="form-label">Email</label>
                <input type="email" class="form-control rounded-3" placeholder="name@example.com" required
                  v-model="signupData.email" />
              </div>
              <div class="mb-4">
                <label class="form-label">Password</label>
                <input type="password" class="form-control rounded-3" placeholder="password" required
                  v-model="signupData.password" />
              </div>
              <div class="mb-4">
                <label class="form-label">Confirm Password</label>
                <input type="password" class="form-control rounded-3" placeholder="password" required
                  v-model="signupData.password_confirmation" />
              </div>
              <div class="mb-4">
                <label class="form-label">Profile Picture</label>
                <input type="file" class="form-control rounded-3" required @change="onFileChange" accept="image/*" />
              </div>
              <div class="pt-">
                <button class="btn btn-primary w-100" :disabled="loading">
                  Signup
                  <Spinner v-if="loading" />
                </button>
              </div>
              <div class="mt-5 text-center">
                Already have an account?
                <router-link :to="{ name: 'login' }" :disabled="loading">Login</router-link>
              </div>
              <div></div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import ErrorAlert from "@/components/common/ErrorAlert.vue";
import Spinner from "@/components/common/Spinner.vue";
import { getNextRoute } from "@/functions";

export default {
  name: "Login",
  data() {
    return {
      error: "",
      loading: false,
      signupData: {
        name: "",
        email: "",
        password: "",
        password_confirmation: "",
        profile_picture: null,
      },
    };
  },
  methods: {
    ...mapActions(["register"]),
    isDataValid() {
      return (
        this.signupData.name && this.isValidEmail() && this.passwordConfirmed()
      );
    },
    isValidEmail() {
      return /^\S+@\S+\.\S+$/.test(this.signupData.email);
    },
    passwordConfirmed() {
      return (
        this.signupData.password &&
        this.signupData.password_confirmation &&
        this.signupData.password === this.signupData.password_confirmation
      );
    },
    onFileChange(e) {
      if (e.target.files.length === 1) {
        const [file] = e.target.files;
        this.signupData.profile_picture = file;
        return;
      }
      this.signupData.profile_picture = null;
    },
    async signupUser() {
      this.error = "";
      if (!this.isDataValid()) {
        this.error = "Please fill in all the information correctly";
        return;
      }
      try {
        this.loading = true;
        await this.register(this.signupData);
        this.$router.push(getNextRoute(this.$route.query, "dashboard"));
      } catch (error) {
        this.error = "There was error creating your account";
      } finally {
        this.loading = false;
      }
    },
    clearForm() {
      this.signupData = {
        name: "",
        email: "",
        password: "",
        password_confirmation: "",
        profile_picture: null,
      };
    },
  },
  components: { ErrorAlert, Spinner },
};
</script>