<template>
  <div class="min-h-90 position-relative mt-3 container-fluid">
    <h5 class="text-primary">Hey {{ user.name }}!</h5>
    <div class="mt-5">
      <ErrorAlert v-if="error" :error="error" />
      <div class="text-center mt-4" v-if="loading">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <div class="row" v-else-if="!loading && videos.length > 0">
        <div
          class="col-sm-6 col-md-4 mb-3"
          v-for="(video, index) in videos"
          :key="index"
        >
          <div class="bg-white rounded-2 shadow-1 position-relative">
            <img
              :src="video.attributes.img_256"
              :alt="video.attributes.title"
              class="w-100 rounded-2"
            />
            <div
              class="
                position-absolute
                d-flex
                flex-column
                align-items-center
                justify-content-center
                top-0
                bottom-0
                end-0
                start-0
                z-index-10
                text-white
                img-overlay
                rounded-2
              "
            >
              <span
                class="material-icons fs-1 cursor-pointer"
                :title="video.attributes.title"
                data-bs-toggle="modal"
                data-bs-target="#video-modal"
                @click="setVideo(video.attributes.video_url, video.attributes.title)"
              >
                play_arrow
              </span>
            </div>
          </div>
        </div>
      </div>
      <div v-else>No uploaded videos yet</div>
    </div>
    <VideoModal
      :title="currentVideoInfo.title"
      :videoUrl="currentVideoInfo.url"
    />
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import VideoModal from "@/components/VideoModal.vue";
import ErrorAlert from "@/components/common/ErrorAlert.vue";

export default {
  name: "DashboardHome",
  data() {
    return {
      loading: true,
      videos: [],
      error: "",
      currentVideoInfo: {
        title: "",
        url: "",
      },
    };
  },
  computed: {
    ...mapGetters(["user"]),
  },
  methods: {
    async fetchVideos() {
      try {
        const { data } = await this.$axios.get("/videos");
        this.videos = data.data;
      } catch (error) {
        this.error = "There was an error fetching the videos"
      } finally {
        this.loading = false;
      }
    },
    setVideo(url, title) {
      this.currentVideoInfo = {
        url,
        title,
      };
    },
  },
  created() {
    this.fetchVideos();
  },
  components: { VideoModal, ErrorAlert },
};
</script>

<style lang="scss" scoped>
img {
  height: 256px;
  object-fit: cover;
}
.img-overlay {
  background: rgba($color: $dark, $alpha: 0.3);
}
</style>