<template>
  <div class="min-h-90 position-relative mt-3 container-fluid">
    <form action="" @submit.prevent="uploadVideo" class="pt-5">
      <ErrorAlert :error="error" />
      <div class="mb-4">
        <label class="form-label">Video title</label>
        <input type="text" class="form-control rounded-3" placeholder="Video title" required v-model="title" />
      </div>
      <div class="mb-4">
        <label class="form-label">Video category</label>
        <select class="form-select" aria-label="Default select example" required v-model="category">
          <option selected value="" disabled>--Select category--</option>
          <option value="exercise">Exercise</option>
          <option value="education">Education</option>
          <option value="education">Recipe</option>
        </select>
      </div>
      <div class="mb-4">
        <label class="form-label">Video</label>
        <input type="file" class="form-control rounded-3" required @change="setVideoFile"
          accept="video/mp4,video/mov" />
      </div>
      <div class="mb-4">
        <label class="form-label">Video thumbnail</label>
        <input type="file" class="form-control rounded-3" required @change="setVideoThumbnail" accept="image/*" />
      </div>
      <div class="pt-4 text-center">
        <button class="btn btn-primary" :disabled="loading">
          Upload video
          <Spinner v-if="loading" />
        </button>
      </div>
    </form>
  </div>
</template>

<script>
import { getFormData } from "@/functions";
import ErrorAlert from "@/components/common/ErrorAlert.vue";
import Spinner from "@/components/common/Spinner.vue";

export default {
  name: "UploadVideo",
  data() {
    return {
      title: "",
      category: "",
      video: null,
      thumbnail: null,
      loading: false,
      error: "",
    };
  },
  methods: {
    async uploadVideo() {
      this.error = "";
      this.loading = true;
      try {
        const uploadFormData = getFormData({
          title: this.title,
          category: this.category,
          video: this.video,
          thumbnail: this.thumbnail,
        });
        await this.$axios.post("/videos", uploadFormData);
        this.resetForm();
        this.$router.push({ name: "dashboard" });
      } catch (error) {
        this.error = "There was an error uploading the video";
      } finally {
        this.loading = false;
      }
    },
    onFileChange(e) {
      if (e.target.files.length === 1) {
        const [file] = e.target.files;
        return file;
      }
      return null;
    },
    setVideoFile(e) {
      this.video = this.onFileChange(e);
    },
    setVideoThumbnail(e) {
      this.thumbnail = this.onFileChange(e);
    },
    resetForm() {
      this.thumbnail = null;
      this.video = null;
      this.title = "";
      this.category = ""
    }
  },
  components: { ErrorAlert, Spinner },
};
</script>