body,
html,
#app {
    height: 100%;
}

.btn:focus,
.navbar-toggler:focus {
    box-shadow: none !important;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.min-h-90 {
    min-height: 90vh;
}
.cursor-pointer {
    cursor: pointer;
}
