<template>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid ps-0">
      <button
        class="navbar-toggler border-0"
        type="button"
        aria-expanded="false"
        aria-label="Toggle navigation"
        @click="$emit('toggleSidebar')"
      >
        <span class="material-icons">menu</span>
      </button>

      <div class="d-flex align-items-center ms-auto">
        <router-link
          :to="{ name: 'videos-upload' }"
          class="btn btn-primary me-4"
        >
          Upload
        </router-link>
        <div class="dropdown">
          <a
            class="dropdown-toggle d-flex align-items-center hidden-arrow"
            href="#"
            @click.prevent=""
            id="navbarDropdownMenuAvatar"
            role="button"
            data-bs-toggle="dropdown"
          >
            <img
              :src="user.profile_picture"
              class="rounded-circle avatar"
              alt="profile picture"
              loading="lazy"
            />
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuAvatar"
          >
            <li>
              <router-link class="dropdown-item" to="#">My profile</router-link>
            </li>
            <li>
              <router-link class="dropdown-item" to="#">Settings</router-link>
            </li>
            <li>
              <a class="dropdown-item" href="#" @click.prevent="signOut">
                Logout
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";

export default {
  name: "DashboardNavbar",
  emits: ["toggleSidebar"],
  computed: {
    ...mapGetters(["user"]),
  },
  methods: {
    ...mapMutations(["logOut"]),
    signOut() {
      this.logOut();
      this.$router.push({ name: "login" });
    },
  },
};
</script>

<style lang="scss" scoped>
.notifications-count {
  left: calc(-#{$spacer} / 2);
  top: calc(-#{$spacer} / 2);
}
.avatar {
  height: 25px;
  width: 25px;
  object-fit: cover;
}
</style>