<template>
  <div
    class="alert alert-danger fade show alert-dismissible mb-4"
    role="alert"
    v-if="error"
  >
    {{ error }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
</template>

<script>
export default {
  name: "ErrorAlert",
  props: {
    error: {
      type: String,
      default: "",
    },
  },
};
</script>