<template>
  <nav class="navbar navbar-expand-md navbar-light bg-transparent mt-2 position-absolute w-100">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold text-dark-blue" href="#">Videos</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse fw-semibold" id="navbarNavDropdown">
        <div class="ms-auto d-md-flex align-items-center">
          <router-link
            class="nav-link text-primary mx-2"
            aria-current="page"
            :to="{ name: 'login' }"
          >
            Login
          </router-link>

          <router-link :to="{ name: 'signup' }" class="btn btn-primary mx-2 px-3 mt-3 mt-md-0">
            <div class="center">
              Signup
              <span class="material-icons ps-1">arrow_forward</span>
            </div>
          </router-link>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: "Navbar",
};
</script>

<style lang="scss" scoped>
.navbar {
  @include media-breakpoint-down(lg) {
    background: $white !important;
  }
}
</style>