<template functional>
  <div class="spinner-border spinner-border-sm ms-2" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</template>

<script>
export default {
  name: "Spinner",
};
</script>